@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo base oscuro del proyecto */
:root {
  color-scheme: dark;
}
html,
body,
#app {
  height: 100%;
  background: #0b0b12;
  color: #e7e5e4;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #1a1a26;
  border-radius: 999px;
}
